.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.opinFirst,
.opinSecond {
    box-sizing: border-box;
    padding: 15px;
    border-radius: 10px;
}

.opinFirst {
    background-color: wheat;
}

.opinSecond {
    background-color: pink;
}

.modal {
    &Wrapper {
        background-color: rgba(0, 0, 0, .4);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &Body {
        width: fit-content;
        height: fit-content;
        z-index: 2;
        background: white;
        box-sizing: border-box;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &Header {
        background-color: wheat;
        box-sizing: border-box;
        padding: 15px;
        border-radius: 10px;
    }
}
